<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Roman Zhitnik using a geo api and a weather api to show you the weather in your selected city</p>
      <img class="robot" src="../img/robot.png">
    </div>
    {{>footer}}
  </body>
</html>